.slideUp {
            animation : 0.5s slideUp;
        }



h1 { font-family:'Lato', sans-serif;

}




.font2 {
  font-family: 'Nunito Sans', sans-serif;



}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}





* {
  box-sizing:border-box;
}



.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 100%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}





@media screen and (max-width: 1000px) {
  .column-66
  .column-33 
}
   





.a {
  text-decoration: none;
  color:#1F2833;
  background-color:#45A29E;
  border-radius:35%;
}


a {
color:#45A29E;

}

.button3 {font-size: 25px;
background-color:#45A29E;
font-size: 25px;
background-color: #45A29E;
padding: 10px;
border: none;
border-radius: 5px;
color: white;
}






